<html>
<head>
    <title>Demo socket io</title>
    <script src="jquery.js"></script>
    <script src="https://morning-woodland-28230.herokuapp.com/socket.io/socket.io.js"></script>
    <script>

    //connect to Server send request after 1s
    setInterval(function(){
        var socket = io("https://morning-woodland-28230.herokuapp.com/");
    },1000);

    io("https://morning-woodland-28230.herokuapp.com/").on("Data-from-server", function(data){
      $("#danhsach").empty()
      for(var i = 0; i<data.recordset.length; i++)
      {
        $("#danhsach").append("<tr><td>"+data.recordset[i].MABANGGIA+"</td><td>"+data.recordset[i].TENBANGGIA+"</td><td>"+data.recordset[i].GHICHU+"</td><td>"+data.recordset[i].SUDUNG+"</td></tr>");
      }
    });

    // socket.on("Server-send-data",function(data){
    //   $("#noidung").append(data);
    // });
    //
    //   $(document).ready(function(){
    //     $("#mrA").click(function() {
    //       socket.emit("Client-send-data","hello");
    //     });
    //   });
    </script>
</head>
<body>
  <!-- <div id="mrA">Click send</div>
  <h2 id="noidung"></h2> -->
  <table>
    <tr>
      <th>MABANGGIA</th>
      <th>TENBANGGIA</th>
      <th>GHICHU</th>
      <th>SUDUNG</th>
    </tr>
    <tbody id="danhsach">

    </tbody>
  </table>
</body>
</html>
